@use "partials/reset";
@use "partials/utilities";
@use "partials/variables" as *;

body {
  background-color: $clr-white;
  line-height: $lh-normal;
  font-size: $fs-base;
  font-family: $ff-body;
}

.header {
  position: relative;
  &__image {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: bottom;
  }
}

.navbar {
  position: absolute;
  top: 0;
  inset-inline: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  &__logo {
    color: $clr-white;
    height: 1.5rem;
  }
  @media (min-width: $screen-md) {
    inset-inline: 2.5rem;
    &__logo {
      height: 2rem;
    }
  }
}

.navbar__nav {
  &-hamburger {
    cursor: pointer;
    color: $clr-white;
    width: 1.5rem;
    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &-list {
    position: absolute;
    top: calc(100% + 1rem);
    inset-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    opacity: 0;
    pointer-events: none;
    background-color: $clr-white;
    text-align: center;
    transition: opacity 300ms ease-in-out;
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 0;
      display: block;
      width: 0;
      height: 0;
      border-bottom: 1.5rem solid $clr-white;
      border-left: 1.5rem solid transparent;
    }
    a {
      color: $clr-neutral-200;
      font-size: $fs-md;
      text-decoration: none;
    }
    li:last-child {
      a {
        display: inline-block;
        background-color: $clr-yellow;
        color: $clr-neutral-400;
        font-size: $fs-sm;
      }
    }
    @media (min-width: $screen-md) {
      position: relative;
      flex-direction: row;
      padding: 0;
      background-color: transparent;
      &.open {
        opacity: 1;
        pointer-events: all;
      }
      &::before {
        display: none;
      }
      li {
        &:not(:last-child) {
          a {
            position: relative;
            color: $clr-white;
            font-size: $fs-base;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: calc(100% + 0.125rem);
              height: 0.1875rem;
              width: 100%;
              background-color: $clr-white;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform 300ms ease-in-out;
            }
            &:hover::after {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
        &:last-child {
          a {
            background-color: $clr-white;
            transition: all 300ms ease-in-out;
            &:hover {
              color: $clr-white;
              background-color: hsla(0, 0%, 98%, 0.3);
            }
          }
        }
      }
    }
  }
}
