@use 'partials/reset';
@use 'partials/typography';
@use 'partials/utilities';
@use 'partials/variables' as *;

body {
  background-color: $clr-white;
  line-height: $lh-normal;
  font-size: $fs-base;
  font-family: $ff-body;
}

/**
* HEADER
**/

.header {
  position: relative;
  &__image {
    width: 100%;
    min-height: 32.5rem;
    max-height: 100vh;
    object-fit: cover;
    object-position: bottom;
    @media (min-width: $screen-sm) {
      min-height: 75vh;
    }
  }
}

.navbar {
  $desktopScreen: $screen-md;
  position: absolute;
  top: 0;
  inset-inline: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;

  @media (min-width: $screen-md) {
    inset-inline: 2.5rem;
  }

  &__logo {
    color: $clr-white;
    height: 1.5rem;

    @media (min-width: $desktopScreen) {
      height: 2rem;
    }
  }

  &__nav {
    z-index: 50;
    &-hamburger {
      cursor: pointer;
      color: $clr-white;
      padding: 0.5rem;
      margin: -0.5rem;
      svg {
        width: 1.5rem;
      }

      @media (min-width: $desktopScreen) {
        display: none;
      }
    }

    &-list {
      position: absolute;
      top: calc(100% + 1rem);
      inset-inline: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      background-color: $clr-white;
      opacity: 0;
      visibility: hidden;
      transition: visibility 300ms, opacity 300ms ease-in-out;
      &.open {
        opacity: 1;
        visibility: visible;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 0;
        display: block;
        width: 0;
        height: 0;
        border-bottom: 1.5rem solid $clr-white;
        border-left: 1.5rem solid transparent;
      }

      @media (min-width: $desktopScreen) {
        position: relative;
        flex-direction: row;
        padding: 0;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        &::before {
          display: none;
        }
      }

      li:not(:last-child) {
        a {
          color: $clr-neutral-200;
          font-size: $fs-md;
          text-decoration: none;

          @media (min-width: $desktopScreen) {
            position: relative;
            color: $clr-white;
            font-size: $fs-base;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              top: calc(100% + 0.125rem);
              height: 0.1875rem;
              width: 100%;
              background-color: $clr-white;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform 300ms ease-in-out;
            }
            &:hover::after {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
      }

      li:last-child {
        a {
          background-color: $clr-yellow;
          color: $clr-neutral-400;
          font-size: $fs-sm;

          @media (min-width: $desktopScreen) {
            background-color: $clr-white;
            transition: all 300ms ease-in-out;
            &:hover {
              color: $clr-white;
              background-color: hsla(0, 0%, 98%, 0.3);
            }
          }
        }
      }
    }
  }
}

.hero {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(3rem, calc(0.5rem + 10.69vw), 5.63rem);
  top: 3.6em;
  inset-inline: 1.5rem;
  font-size: $fs-clamp-h1;
  text-align: center;

  @media (min-width: $screen-sm) {
    inset-inline: 2.5rem;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__cta {
    svg {
      height: 7.125rem;
      color: $clr-white;
    }
    @media (hover: hover) {
      &:hover {
        svg {
          animation: bounce 750ms ease-in-out infinite alternate;
        }
      }

      @keyframes bounce {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(0.75rem);
        }
      }
    }
  }
}

/**
* FEATURES
**/

.features {
  @media (min-width: $screen-md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    #transform {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.picture {
  display: flex;
  height: 100%;
  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.feature {
  padding: 4rem 1.5rem;
  width: 100%;
  max-width: 30rem;
  text-align: center;
  margin-inline: auto;

  @media (min-width: $screen-md) {
    margin-inline: clamp(0rem, calc(-24rem + 37.5vw), 6rem);
    text-align: left;
  }

  &__title {
    font-size: $fs-clamp-h2;
  }

  &__content {
    color: $clr-neutral-200;
    margin-block: 1.5rem 2.25rem;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-family: $ff-heading;
    font-size: $fs-sm;
    letter-spacing: $ls-heading;
    color: $clr-neutral-400;
    text-decoration: none;
    text-transform: uppercase;
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      inset-inline: -0.5rem;
      bottom: -0.25em;
      height: 0.75rem;
      border-radius: 0.5rem;
      opacity: 0.25;
      transition: opacity 300ms ease-in;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}
#transform a::after {
  background-color: $clr-yellow;
}
#stand-out a::after {
  background-color: $clr-red;
}

.feature-special {
  position: relative;

  &__picture,
  img {
    width: 100%;

    @media (min-width: $screen-md) {
      min-height: 32rem;
      object-fit: cover;
    }
  }

  &__inner {
    position: absolute;
    bottom: 3.5rem;
    inset-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }

  &__title {
    font-size: $fs-lg;
  }

  &__content {
    max-width: 35ch;
    margin-inline: auto;
  }
}
#graphic-design {
  h2,
  p {
    color: $clr-green-300;
  }
}

#photography {
  h2,
  p {
    color: $clr-blue;
  }
}

/**
* TESTIMONIALS
**/

.testimonials {
  padding: 4rem 1.5rem;

  &__title {
    margin-bottom: 4rem;
    font-size: $fs-md;
    letter-spacing: $ls-black;
    font-weight: $fw-heading-bold;
    color: $clr-neutral-100;
    text-transform: uppercase;
    text-align: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  @media (min-width: $screen-lg) {
    padding-block: clamp(4rem, calc(-10.77rem + 23.08vw), 10rem);

    &__title {
      margin-bottom: clamp(4rem, calc(1.54rem + 3.85vw), 5rem);
    }

    &__inner {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatar {
    width: 4.5rem;
    border-radius: 50%;
  }

  &__quote {
    max-width: 33ch;
    margin-block: 2rem;
    text-align: center;
    color: $clr-neutral-300;

    @media (min-width: $screen-lg) {
      margin-block: clamp(2rem, calc(-1.69rem + 5.77vw), 3.5rem);
    }
  }

  &__name {
    margin-bottom: 1rem;
    font-family: $ff-heading;
    letter-spacing: $ls-heading;
    color: $clr-neutral-400;
  }

  &__cite {
    color: $clr-neutral-100;
    font-size: $fs-xs;
    font-style: normal;
  }
}

/**
* GALLERY
**/

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__picture,
  img {
    width: 100%;
  }

  @media (min-width: $screen-md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**
* FOOTER
**/

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.5rem;
  background-color: $clr-green-100;

  &__logo svg {
    height: 2rem;
    color: $clr-green-300;
  }

  &__nav {
    margin-block: 2.5rem 5.75rem;
    ul {
      display: flex;
      align-items: center;
      gap: 3.5rem;
    }
    a {
      text-decoration: none;
      color: $clr-green-200;
      transition: color 300ms ease-in-out;

      &:hover {
        color: $clr-white;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    a {
      width: 1.25rem;
      color: $clr-green-300;
      &:hover {
        color: $clr-white;
      }
    }

    svg {
      transition: color 300ms ease-in-out;
    }
  }

  &__attribution {
    position: absolute;
    bottom: 0.75rem;
    font-size: $fs-xxs;
    letter-spacing: $ls-heading;
    color: $clr-green-200;
    text-align: center;

    span {
      display: inline-block;
    }
    a {
      color: inherit;
      transition: color 300ms ease-in-out;
      &:hover {
        color: $clr-white;
      }
    }
  }
}
